@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  /* 🔹 Background (nền) */
  --color-bg-main: #646e78;
  --color-bg-soft: #8d98a7;

  /* 🔹 Text (chữ) */
  --color-text-main: #1f2933; /* thêm màu đậm để dễ đọc */
  --color-text-light: #ffffff;

  /* 🔹 Neutral / card */
  --color-surface: #dcccbb;
  /* 🔹 Accent (nổi bật) */

  --color-primary: #eec78c;
  --color-secondary: #c99559;

  /* 🔹 Hover / active */
  --color-hover: #b88553;
  --color-active: #a7754d;
  --color-border: #304360;

  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 30rem;
  background: var(--color-border);
  transform: skewY(-8deg);
  transform-origin: top left;
  box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.293);
}

/* header */
header {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  height: 35rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  margin-top: 0;
}

.header_about {
  max-width: 30rem;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-text-main);
  box-shadow: 1px 1px 10px 2px rgba(128, 128, 128, 0.279);
}

.header_contact_me {
  margin-top: 2rem;
  font-size: var(--bigger-font-size);
  display: flex;
  gap: 2rem;
  width: fit-content;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: black;
}

.header_about_img {
  position: relative;
}

.header_img_container img {
  width: 20rem;
  height: auto;
}

.header_img_container {
  min-width: 20rem;
  height: fit-content;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  height: 3rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
}

/* section */

section {
  padding: 0 2rem;
  min-height: calc(1vh - 5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.link_preview {
  font-size: var(--bigger-font-size);
  display: flex;
  gap: 0.8rem;
}

.project_name {
  margin-right: 0.8rem;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  max-width: 100vw;
  gap: 2rem;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  background-color: var(--color-surface);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.412);
}

.my_work {
  margin: 2rem 4rem;
}

.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem;
  margin-top: 10rem;
  max-width: 100vw;
  font-size: var(--normal-font-size);
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.text div {
  display: flex;
  gap: 0.4rem;
}

.footer_image {
  max-width: 30rem;
  height: fit-content;
}

.footer_image img {
  max-width: 30rem;
  height: auto;
}

@media (max-width: 800px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cell {
    width: 100%;
  }
  .footer_image {
    display: none;
  }
}

footer {
  background-color: var(--color-primary);
}

footer .social_media {
  display: flex;
  gap: 2rem;
  font-size: var(--bigger-font-size);
  width: fit-content;
}

@media (max-width: 450px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cell {
    width: 100%;
  }
  .footer_image {
    display: none;
  }
  footer {
    background-color: var(--color-primary);
  }
  header {
    margin-bottom: 15rem;
  }
}
